<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.airbnb.mvrx.compose.TestComposeApplication"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:allowBackup="false">
        <activity android:name="com.airbnb.mvrx.compose.LifecycleOwnerScopeTestActivity" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.airbnb.mvrx.compose.CustomLifecycleOwnerScopeTestActivity" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.airbnb.mvrx.compose.FragmentArgsTestActivity" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>